p {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    margin: 0;
    padding: 14px 16px;
    overflow: hidden;
    text-align: center;
}

.footer a {
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer a:hover {
    color: black;
}

.disclaimer p {
    font-size: 8px;
    color: gray;
}

.container p {
    padding: 2px 2px;
}

.extraspace p {
    padding: 40px 40px;
}

.container img {
    height: 168px;
    width: 300px;
    margin: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -70%);
}

.container a {
    color: #376983;
    text-decoration: none;
}

.container a:hover {
    color: blue;
}

.squareimg img {
    height: 300px;
    width: 300px;
    transform: translate(-55%, 0%);
}

iframe {
    margin: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.desc p {
    margin: 10px;
    padding: 70px 0;
    border: 3px solid gray;
    overflow-wrap: break-word;
}

.thread p {
    margin: 0 100px;
    text-align: left;
    color: black;
    padding-left: 5px;
    padding-right: 100px;
    border: 1px solid gray;
}

.thread a {
    color: black;
    text-decoration: none;
}

.thread a:hover {
    color: gray;
}

hr {
    color: black;
}

form {
    display: block;
    text-align: center;
}