<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css" />
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <title>Register</title>
</head>

<body>
  <div id="app">
    
    
    
    
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #376983;">
    <a class="navbar-brand" href="..">Blockmania</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="..">Home</a>
        <a class="nav-item nav-link" href="profile.html">Profile</a>
        <a class="nav-item nav-link" href="games.html">Games</a>
        <a class="nav-item nav-link" href="forum.html">Forum</a>
      </div>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <div class="navbar-nav ml-auto" v-if="loggedIn">
        <a class="nav-item nav-link active" href="profile.html">{{currentUser}}</a>
      </div>
      <div class="navbar-nav ml-auto" v-else>
        <a class="nav-item nav-link" href="login.html">Log In</a>
        <a class="nav-item nav-link active" href="#">Register<span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>
  
  <p>{{message}}</p>
  
  <div class= "extraspace"><p> </p></div>
  
    <form v-on:submit.prevent="register">
      <label>Register</label><br>
      <label>Username: </label>
      <input v-model="usernameInput" type="username"></input><br>
      <label>Password: </label>
      <input v-model="passwordInput" type="password"></input><br>
      <label>Confirm password: </label>
      <input v-model="passwordInputConfirm" type="password"></input><br>
      <label>Email: </label>
      <input v-model="emailInput" type="email"></input><br>
      <label>Date of birth: </label>
      <input v-model="dateInput" type="date"></input><br>
      <label>Gender: </label>
      <input v-model="gendermale" type="radio" name="gender" value="male"> Male</input>
      <input v-model="genderfemale" type="radio" name="gender" value="female"> Female</input><br>
      <button type="submit">Register</button>
    </form>
    
    
    
    
  </div>
  
  <div class="disclaimer">
    <p>*Don't use one of your real passwords or other personal info. This website is NOT secure.</p>
    <p>The REST service is used to store and fetch account details. Multiple accounts are supported now! :D</p>
    <p>Yes, I know an open api is a terrible place to store account details. This is just a proof of concept</p>
    </div>
  
  <div class= "extraspace"><p> </p></div>
  
  <div class="footer">
    <footer>
      <hr>
      <p><a href="https://github.com/EarthBoundNess/crpjt">GitHub repo</a></p>
    </footer>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script text="type/javascript" src="../js/script.js">
  </script>
</body>

</html>